<section class="sidebar-section">
    <h1 class="title">Text-Based Projects</h1>
    <h2><a href ="Madlibs" class="sidebar-item">Madlibs</a></h2>
    <h2><a href ="Number-Guessing-Game" class="sidebar-item">Number-Guessing Game</a></h2>
    <h2><a href ="BonBon-Factory" class="sidebar-item">BonBon Factory</a></h2>
    <h2><a href ="Chemical-Formula-Converter" class="sidebar-item">Chemical Formula Converter</a></h2>
    <h2><a href ="Tic-Tac-Toe" class="sidebar-item">Tic-Tac-Toe</a></h2>
</section>
